.home-panel
  %h5 Recent Publications
  %ul.unstyled
    - data.publications[0..2].each do |pub|
      %li
        %strong= pub.title.gsub(/Drosophila/, "<em>Drosophila</em>").chop
        %br
        = pub.journal[/^[a-zA-Z\s]*./].chop
  = link_to "More Publications", "publications/recent", class: "more-link"

.home-panel
  %h5 Recent News
  %ul.unstyled
    - data.news[0..2].each do |n|
      %li
        %strong= n.title
        %br
        = n.date
  = link_to "More News", "news/recent", class: "more-link"